<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/products">ReCap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/products" aria-current="page">Home</a>
          </li>
          <app-cart-summary></app-cart-summary>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Araç İşlemleri
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li >
                  <a class="dropdown-item" routerLink="products/add" style="cursor: default;">Ekle</a>
              </li>
              <li >
                <a class="dropdown-item" style="cursor: default;" routerLink="products/update">Güncelle</a>
            </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" style="cursor: pointer;" routerLink="products/delete">Sil</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Renk İşlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li >
                <a class="dropdown-item" routerLink="color/add" style="cursor: default;">Ekle</a>
            </li>
            <li >
              <a class="dropdown-item" style="cursor: default;">Güncelle</a>
          </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" style="cursor: pointer;">Sil</a></li>
          </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Marka İşlemleri
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li >
              <a class="dropdown-item" style="cursor: default;">Ekle</a>
          </li>
          <li >
            <a class="dropdown-item" style="cursor: default;">Güncelle</a>
        </li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" style="cursor: pointer;">Sil</a></li>
        </ul>
    </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
