<div class="row">
    <div class="col-sm-12">
        <div *ngIf="dataLoaded==false" class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
          <table *ngIf="dataLoaded==true" class="table table-striped">
              <thead>
                <tr class="table-dark">
                  <th scope="col">#</th>
                  <th scope="col">Brand Name</th>
                  <th scope="col">Color Name</th>
                  <th scope="col">Model Year</th>
                  <th scope="col">Daily Price</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{carDetail.id}}</th>
                  <td>{{carDetail.brandName}}</td>
                  <td>{{carDetail.colorName}}</td>
                  <td>{{carDetail.modelYear}}</td>
                  <td>{{carDetail.dailyPrice}} TL</td>
                  <td>{{carDetail.description}}</td>
                </tr>
              </tbody>
            </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <img src="{{basePath}}{{item.imagePath}}" *ngFor="let item of carImage" class="img-fluid" alt="Responsive image"/>
    </div>
</div>
