<ul class="list-group">
    <li (click)="setCurrentBrandCategory(nullBrandCategory)" [class]="getCurrentBrandCategoryClass(nullBrandCategory)" routerLink="/products">Tüm Markalar</li>
    <li (click)="setCurrentBrandCategory(item)" [class]="getCurrentBrandCategoryClass(item)" *ngFor="let item of brandCategories" routerLink="/products/category/{{item.id}}">{{item.brandName}}</li>
</ul>
<br>
<ul class="list-group">
    <li (click)="setCurrentColorCategory(nullColorCategory)" [class]="getCurrentColorCategoryClass(nullColorCategory)" routerLink="/products">Tüm Renkler</li>
    <li (click)="setCurrentColorCategory(item)" [class]="getCurrentColorCategoryClass(item)" *ngFor="let item of colorCategories" routerLink="/products/category/{{item.id}}">{{item.colorName}}</li>
</ul>
<br>
