<div class="row">
  <div class="col-5">
    <form formGroup="brandForm">
    <select #brandName class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>Marka Seç</option>
      <option *ngFor="let item of allBrand" value="{{item.id}}">{{item.brandName}}</option>
    </select>
  </form>
  </div>
  <div class="col-5">
    <select  #colorName class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>Renk Seç</option>
      <option  *ngFor="let item of allColor" value="{{item.id}}">{{item.colorName}}</option>
    </select>
  </div>
  <div class="col-2">
    <button (mouseover)="filterSearch(colorName.value, brandName.value)" routerLink="/products/brand/{{selectedBrand}}/color/{{selectedColor}}" class="btn btn-success productSerachButton" >Search</button>
  </div>
 
</div>
<div class="row">
<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="sr-only"></span>
</div>
  <div class="col-6">
    <div class="mb-3">
      <label for="filterText" class="form-label text-success">Serach Brand</label>
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Serach Brand">
  </div>
  </div>
 <div class="col-6">
  <div class="mb-3">
    <label for="filterColorText" class="form-label text-success">Serach Color</label>
    <input type="text" [(ngModel)]="filterColorText" class="form-control" id="filterColorText" placeholder="Serach Color">
  </div>
 </div>
</div>

<div class="row">
 <div class="col-12">
  <div *ngIf="filterText || filterColorText" class="alert alert-primary">
    {{filterText}} {{filterColorText}} Aradınız.
  </div>
  <table *ngIf="dataLoaded==true" class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th scope="col">#</th>
          <th scope="col">Brand Name</th>
          <th scope="col">Color Name</th>
          <th scope="col">Model Year</th>
          <th scope="col">Daily Price</th>
          <th scope="col">VAT Daily Price</th>
          <th scope="col">Description</th>
          <th scope="col">Detail</th>
          <th scope="col">Add to Cart</th>
        </tr>
      </thead>
      <tbody>
        <tr class="_row" *ngFor="let item of carDetail | filterPipe:filterText | filterColor:filterColorText" style="cursor: default;">
          <th scope="row">{{item.id}}</th>
          <td>{{item.brandName |uppercase}}</td>
          <td>{{item.colorName |lowercase}}</td>
          <td>{{item.modelYear}}</td>
          <td>{{item.dailyPrice |currency}}</td>
          <td>{{item.dailyPrice  |vatAdded:number:number |currency}}</td>
          <td>{{item.description}}</td>
          <td><button class="btn btn-primary" routerLink="/products/carDetail/{{item.id}}">Detail</button></td>
          <td><button (click)="addToCart(item)" type="button" class="btn btn-success">Add</button></td>
        </tr>
      </tbody>
    </table>
 </div>
</div>
{{colorName.value}}